.app {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 99vw;
  height: 98.9vh;
}

.appHeader{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  margin: 0 auto;
  margin-left: 10px;
  height: 16vh;
}

.leftSplit{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50vw;
  height: 100vh;
  margin: auto;
}

.authWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 80%;
  height: 100vh;
  margin: auto;
}

.letheLogo{
  cursor: pointer;
  background-image: image_url("lethe-logo");
  margin: 10px;
  width: 5vw;
  height: 9vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.sm0lLetheLogo{
  cursor: pointer;
  background-image: image_url("lethe-logo");
  margin: 10px;
  width: 3vw;
  height: 5vh;
  background-size: contain;
  background-repeat: no-repeat;
}