.channelIndex {
  width: 250px;
  background-color: #2F3136;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-items: flex-start;
  height: 800px;
  margin-top: 10px;
}

.channelList {
  width: 235px;
  background-color: #2F3136;
  margin-left: 10px;
  overflow-y: scroll;
  height: 760px;
}

.channelList::-webkit-scrollbar{
  display: none;
}

.channelItem{
  width: 190px;
  padding: 10px;
  background-color: #2F3136;
  font-size: 10pt;
}