.channelIndex {
  width: 12.5vw;
  background-color: #2F3136;
  height: 90vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
}

.channelList {
  height: 84vh;
  background-color: #2F3136;
  margin-left: 0.5vw;
  overflow-y: scroll;
  display: flex;
  flex-flow: column wrap;
  width: 12.5vw;
}

.channelList::-webkit-scrollbar{
  -webkit-appearance: none;
  display: none;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

.channelItemContainer{
  width: 11.5vw;
  background-color: #2F3136;
  height: 3vh;
  padding: 0.5vh;
  margin: 0.5vh;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.channelItem{
  font-size: 11pt;
}

.selectedChannelItem{
  font-size: 11pt;
  background-color: #111111;
}

.selectedChannelContainer{
  width: 11.5vw;
  height: 3vh;
  padding: 0.5vh;
  margin: 0.5vh;
  background-color: #111111;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.channelItem:hover{
  cursor: pointer;
}