.channelIndex {
  width: 240px;
  background-color: #2F3136;
  height: 830px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
}

.channelList {
  height: 780px;
  background-color: #2F3136;
  margin-left: 10px;
  overflow-y: scroll;
  display: flex;
  flex-flow: column wrap;
  width: 240px;
}

.channelList::-webkit-scrollbar{
  -webkit-appearance: none;
  display: none;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

.channelItemContainer{
  width: 240px;
  background-color: #2F3136;
  height: 40px;
  margin-left: 5px;
}

.channelItem{
  width: 230px;
  background-color: #2F3136;
  font-size: 11pt;
}

.selectedChannelItem{
  width: 230px;
  background-color: #111111;
  font-size: 11pt;
}

.channelItem:hover{
  cursor: pointer;
}