.navLink {
  margin: 10px 20px;
  font-size: 10pt;
  color: #B9BBBE;
}

.greetHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.greeting{
  display: flex;
  width: 1900px;
  height: 100px;
  align-items: center;
}

.welcome {
  font-size: 14pt;
  flex-basis: 100%;
}

.right {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  margin-left: auto;
}

.navLink:visited {
  color: #B9BBBE;
}

.navLink:hover {
  color: #FFFFFF;
}

.logoutBtn {
  background-color: #36393F;
  margin: 5px 20px;
  color: #B9BBBE;
  font-size: 10pt;
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.logoutBtn:hover {
  color: #FFFFFF;
}

.openBtn {
  width: 60px;
  height: 23px;
  border-radius: 40px;
  border: 2px solid #B9BBBE;
  color: #B9BBBE;
  background-color: #36393F;
  font-size: 10pt;
  text-align: center;
  padding-top: 8px;
}

.openBtn:hover {
  color: #FFFFFF;
}

.openBtn:visited {
  color: #B9BBBE;
}

.greetBody{
  display: flex;
  align-content: flex-start;
  justify-content: center;
  width: 1900px;
  height: 800px;
  flex-flow: row wrap;
}

.bigSplashText{
  font-size: 24pt;
  text-align: center;
  text-justify: center;
  color: #FFFFFF;
  width: 100%;
  height: 50px;
  margin-top: 100px;
}

.sm0lSplashText{
  font-size: 12pt;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  text-justify: center;
  height: 30px;
}

.deeElButton{
  background-color: #EBEEEF;
  padding: 20px;
  margin: 30px 40px 10px 10px;
  color: black;
  font-size: 10pt;
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  width: 200px;
  height: 15px;
  text-align: center;
}

.splashAuthButton {
  background-color: #7289DA;
  width: 200px;
  padding: 20px;
  margin: 30px 40px 10px 10px;
  color: #FFFFFF;
  font-size: 10pt;
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  height: 15px;
  text-align: center;
}

.fancyContainer{
  flex-basis: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-content:center;
}

.fancy {
  background-color: yellow;
  border-radius: 50%;
  transform: rotate(90deg);
  width: 125px;
  height: 135px;
  padding-right: 10px;
  padding-top: 25px;
  text-align: center;
  margin: auto;
  color: black;
  font-size: 72pt;
}

.footer{
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: space-around;
}

.buttonContainer{
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
}

.footerBox{
  display: flex;
  flex-basis: 15%;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.footerHeader{
  font-weight: 700;
  font-size: 10pt;
  color: #FFFFFF;
  padding-bottom: 20px;
  padding-top: 50px;
}

.bigfootText{
  font-size: 16pt;
  font-weight: 400;
  color: #FFFFFF;
  height: 30px;
  padding-top: 30px;
}

.sm0lfootText{
  font-size: 10pt;
  color: #FFFFFF;
  padding-top: 10px;
}

.footerFooter{
  border-top: 1px solid #97999C;
  display: flex;
  flex-basis: 80%;
  justify-self: flex-start;
  align-self: flex-start;
  flex-flow: column wrap;
  margin-top: 20px;
  margin-bottom: 50px;
}

.splashFootButton {
  background-color: #7289DA;
  width: 200px;
  margin: 30px 40px 10px 10px;
  color: #FFFFFF;
  font-size: 10pt;
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  height: 35px;
  text-align: center;
  position: absolute;
  right: 175px;
}

.navLinkPlus {
  font-size: 10pt;
  color: #B9BBBE;
  margin-bottom: 5px;
}

.navLinkPlus:visited {
  color: #B9BBBE;
}

.navLinkPlus:hover {
  color: #FFFFFF;
}

.authButton:hover {
  background-color: #677BC4;
}

.splashAuthButton:hover {
  background-color: #677BC4;
}


.splashFootButton:hover {
  background-color: #677BC4;
}

.deeElButton:hover{
  background-color: #B9BBBE;
}