.messageIndex {
  display: flex;
  flex-flow: row wrap;
  width: 1325px;
  height: 850px;
  align-items: flex-start;
}

.messages {
  width: 1325px;
  font-size: 20pt;
  height: 700px;
  text-align: center;
}

.messageInputWrapper {
  border-top: 2px solid #42454a;
  height: 80px;
  width: 1275px;
  display: flex;
  align-items: flex-end;
  justify-items: flex-start;
  margin: 0px 25px;
}

.messageInput {
  width: 1275px;
  border: 1px solid #363933;
  background-color: #484B52;
  height: 20px;
  margin: 15px 0px;
  padding: 10px;
  color: white;
}

.messageInput:focus {
  outline-width: 0;
}

.messageIndexItemList{
    height: 730px;
    background-color: #202225;
    color: #202225;
    overflow-y: scroll;
    z-index: 2;
}

.messageIndexItemList::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}