#nitro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nitroCharge {
  font-size: 200pt;
  border: 10px, dashed, #770077;
  font-family: 'Press Start 2P', cursive;
  margin: 5vh 10vw;
}

.flashy {
  display: none;
}