.serverIndex {
  display: flex;
  flex-flow: column wrap;
  width: 4vw;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5vw;
  background-color: #202225;
  color: #202225;
}

.numOnline {
  text-align: center;
  margin: 0.5vh 0.5vw;
  font-size: 10pt;
  color: #5E6054;
  background-color: #202225;
}

.hackBorder {
  border-bottom: 2px solid #5E6054;
  margin: 1vh 1vw;
  width: 2vw;
}

.serverIcon {
  flex-basis: 100%;
  border-radius: 50%;
  border: 1px solid #202225;
  font-size: 14pt;
  height: 2em;
  width: 3em;
  padding-top: 0.75em;
  align-content: center;
  text-align: center;
  margin: 0.5vh;
  z-index: 2;
}

.serverIcon:hover {
  border-radius: 25%;
  cursor: pointer;
}

.newServerIcon {
  flex-basis: 100%;
  border-radius: 50%;
  border: 1px dashed #535559;
  color: #535559;
  font-size: 36pt;
  height: 5vh;
  width: 3vw;
  padding-top: 0.5vh;
  align-content: center;
  text-align: center;
  margin: 0.5vh;
  background-color: #202225
}

.newServerIcon:hover {
  color: #FFFFFF;
  cursor: pointer;
  border: 1px dashed #FFFFFF;
}

.serverList {
  height: 80vh;
  background-color: #202225;
  color: #202225;
  overflow-y: scroll;
  z-index: 2;
}

.serverList::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

.serverItem {
  background-color: #202225;
}