.session{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  border: 0;
  box-shadow: 1px 1px 3px 3px #2E3035;
  width: 24vw;
  border-radius: 4px;
  margin: auto;
}

.sessionError{
  color: #F04747;
  font-style: italic;
  font-size: 9pt;
}

.errLabel{
  font-size: 9pt;
  color: #F04747;
  font-weight: bold;
  margin: 1vh;
  width: 20.5vw;
}

.welcome {
  font-size: 18pt;
  margin: 1vh;
  font-weight: lighter;
  padding-top: 4vh;
}

.authTagline {
  color: #72767D;
  margin: 1vh 1vw 2vh 1vw;
  font-size: 12pt;
}

.authForm {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 21vw;
  margin-bottom: 5vh;
}

.authButton {
  background-color: #7289DA;
  width: 100%;
  padding: 1.5vh;
  margin: 3vh 0.5vw 1vh 0.5vw;
  color: #FFFFFF;
  font-size: 11pt;
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.demoButton {
  background-color: #36393F;
  color: #7289DA;
  flex-basis: 100%;
  border: 0;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  box-shadow: none;
  font-size: 9pt;
  margin: -1px;
  cursor: pointer;
}

.authButton:hover {
  background-color: #677BC4;
}

.authLabel {
  font-size: 9pt;
  color: #B9BBBE;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  width: 390px;
}

.authText {
  background-color: #303339;
  border: solid 1px #222428;
  margin-top: 1vh;
  padding: 1vh 0;
  width: 20.5vw;
  color: #F6F6F7;
}

.authLink {
  align-self: flex-start;
  font-size: 9pt;
  margin: 0.25vh 0.5vw;
  flex-basis: 45%;
}

.authQuest {
  color: #6D7177;
}

.overlay{
  background: linear-gradient(to bottom right, #36393F 0%, #223344 100%);
  width: 99.9vw;
  height: 84vh;
  display: flex;
  align-items: center;
  justify-content: center;
}