.splash {
  display: flex;
  width: 1900px;
  height: 820px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 0 auto;
}

.serverContainer {
  width: 100px;
  background-color: #202225;
  height: 820px;
  border-bottom: 1px solid #282A2F;
}

.channelContainer {
  width: 250px;
  background-color:#2F3136;
  height: 830px;
  border-bottom: 1px solid #282A2F;
  margin-top: -10px;
}

.messageContainer {
  width: 1325px;
  height: 820px;
  border-bottom: 1px solid #282A2F;
  z-index: 10;
}

.userContainer {
  width: 224px;
  height: 800px;
  background-color:#2F3136;
  border-right: 1px solid #282A2F;
  border-bottom: 1px solid #282A2F;
}

.serverHeader {
  display: flex;
  width: 1900px;
  flex-direction: row;
  height: 100px;
  margin: 0 auto;
  position: absolute;
}

.bg-box {
  background-color: #202225;
  color: #202225;
  width: 100px;
  margin-left: -10px;
  height: 110px;
}

.menu-box {
  background-color: #2F3136;
  color: #2F3136;
  width: 250px;
  height: 100px;
}

.userIcon {
  border-radius: 50%;
  border: 1px solid black;
  font-size: 10pt;
  height: 35px;
  width: 65px;
  align-content: center;
  padding-top: 25px;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

.userIcon:hover {
  border-radius: 25%;
}

.shadow-box {
  width: 1800px;
  display: flex;
  flex-direction: row;
  height: 50px;
  box-shadow: -1px 2px 2px #282A2F;
  justify-content: flex-start;
  align-content: center;
}

.serverMenu {
  width: 220px;
  box-shadow: -1px 2px 2px #282A2F;
  background-color: #2F3136;
  font-size: 12pt;
  height: 20px;
  padding: 15px;
}

.channelName {
  font-size: 11pt;
  font-weight: bold;
  padding: 15px;
  height: 20px;
}

.leftDivide {
  border-left: 2px solid #5E6054;
  margin: 10px 10px;
  height: 20px;
}

.channelTopic {
  width: 1200px;
  padding: 15px;
  font-size: 10pt;
  color: #5E6054;
  height: 20px;
}

.muteChannel {
  font-size: 12pt;
  padding: 15px 10px;
  color: #5E6054;
  height: 20px;
}

.pinMessage{
  font-size: 12pt;
  padding: 15px 10px;
  color: #5E6054;
  height: 20px;
}

.memberListToggle {
  font-size: 12pt;
  padding: 15px 10px;
  color: #5E6054;
  height: 20px;
}

.search {
  font-size: 12pt;
  padding: 15px 10px;
  width: 150px;
  color: #5E6054;
  height: 20px;
}

.mentions {
  font-size: 12pt;
 padding: 15px 10px;
  color: #5E6054;
  height: 20px;
}

.help {
  font-size: 12pt;
  padding: 15px 10px;
  color: #5E6054;
  height: 20px;
  border-right: 1px solid #282A2F;
}



