.userIndex {
  display: flex;
  flex-flow: column wrap;
  width: 250px;
  height: 830px;
  align-items: flex-start;
  background-color: #2F3136;
  border-right: 1px solid #282A2F;
  z-index: 10;
  position: absolute;
  right: 20px;
  top: 50px;
}

.userList {
  background-color: #2F3136;
  margin-left: 10px;
  width: 190px;
}

.userItem {
  background-color: #2F3136;
  width: 175px;
  padding: 10px;
  font-size: 12pt;
}