.userWidget {
  height: 6vh;
  width: 13vw;
  background-color: #2A2C31;
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-start;
  align-content: center;
}

.userThreeAvatar {
  height: 2vh;
  width: 1vw;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 22pt;
  text-align: center;
  padding: 1vh 0.25vw 0 0.25vw;
  margin-top: 1vh;
  margin-left: 0.25vw;
  background-color: #777700;
}

.userBox {
  height: 5vh;
  width: 4vw;
  display: flex;
  flex-flow: column wrap;
  justify-items: flex-start;
  background-color: #2A2C31;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  margin-left: 0.25vw;
}

.userInfo {
  height: 1vh;
  width: 4vw;
  margin: 2px;
  font-size: 8pt;
  background-color: #2A2C31;
}

.muteToggle{
  height: 2vh;
  width: 1.5vw;
  font-size: 12pt;
  padding: 0.5vh;
  color: #AAAAAC;
  background-color: #2A2C31;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
}

.deafenToggle{
  height: 2vh;
  font-size: 12pt;
  padding: 0.5vh;
  color: #AAAAAC;
  width: 1.5vw;
  background-color: #2A2C31;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
}

.userSettings{
  height: 2vh;
  font-size: 12pt;
  padding: 0.5vh;
  color: #AAAAAC;
  width: 1.5vw;
  background-color: #2A2C31;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
}

.userAvatar {
  height: 2vh;
  width: 1vw;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 7pt;
  text-align: center;
  padding: 1vh 0.25vw 0 0.25vw;
  margin: 1vh 0.5vh;
}