.userIndex {
  display: flex;
  flex-flow: column wrap;
  width: 224px;
  height: 740px;
  align-items: flex-start;
  background-color: #2F3136;
  margin-top: -22px;
  border-right: 1px solid #282A2F;
}

.userList {
  background-color: #2F3136;
  margin-left: 10px;
  width: 210px;
}

.userItem {
  background-color: #2F3136;
  width: 175px;
  padding: 10px;
  font-size: 12pt;
}