.userIndex {
  display: flex;
  flex-flow: row wrap;
  width: 11.5vw;
  height: 92vh;
  align-items: flex-start;
  background-color: #2F3136;
  border-right: 1px solid #282A2F;
}

.userList {
  background-color: #2F3136;
  margin-left: 0.25vw;
  width: 11.5vw;
  z-index: 11;
}

.userIndexItemContainer {
  background-color: #2F3136;
  margin-left: 0.5vw;
  width: 11vw;
  height: 2em;
  z-index: 12;
  display: flex;
  flex-flow: row wrap;
}

.userItem {
  background-color: #2F3136;
  width: 5.75vw;
  padding: 1em 0.25em;
  font-size: 12pt;
  z-index: 13;
}