.userWidget {
  height: 50px;
  width: 250px;
  background-color: #2A2C31;
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-start;
  align-content: center;
}

.userAvatar {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 7pt;
  text-align: center;
  padding: 10px 5px 0px 5px;
  margin-top: 10px;
  margin-left: 5px;
}

.userBox {
  height: 40px;
  width: 80px;
  display: flex;
  flex-flow: column wrap;
  justify-items: flex-start;
  background-color: #2A2C31;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.userInfo {
  height: 10px;
  width: 80px;
  margin: 2px;
  font-size: 8pt;
  background-color: #2A2C31;
}

.muteToggle{
  height: 20px;
  width: 30px;
  font-size: 12pt;
  padding: 5px;
  color: #AAAAAC;
  background-color: #2A2C31;
  margin-top: 10px;
  margin-bottom: 5px;
}

.deafenToggle{
  height: 20px;
  font-size: 12pt;
  padding: 5px;
  color: #AAAAAC;
  width: 30px;
  background-color: #2A2C31;
  margin-top: 10px;
  margin-bottom: 5px;
}

.userSettings{
  height: 20px;
  font-size: 12pt;
  padding: 5px;
  color: #AAAAAC;
  width: 30px;
  background-color: #2A2C31;
  margin-top: 10px;
  margin-bottom: 5px;
}